<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/product_style.css">
</head>
<body>
<div id="app">
    <div class='product'>
        <div class='product-image'>
            <img :src="image" :alt="description">
        </div>
        <div class='product-info'>
            <p>{{title}}</p>
            <p v-if="inStock">In Stock</p>
            <p v-else="inStock">Out of Stock</p>
            <ul>
                <li v-for=" detail  in details">{{detail}}</li>
            </ul>

            <div
                  v-for="(variant,index) in variants"
                  :key="variant.variantId"
                  class="color-box"
                  :style="{'background-color':variant.variantColor}"
                  @mouseover="updateProduct(index)"
            >

            </div>
            <button
                    @click="addCarts"
                    :disabled= '!inStock'
                    :class ='{disableButton:!inStock}'
            >
                Add to Caf
            </button>
            <div class="cart">
                <p>Cart {{cart}} </p>
            </div>
        </div>
    </div>
</div>
<script src="vue.js"></script>
<script src="main.js"></script>
</body>
</html>